@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Righteous&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 20px 20px; /* Adjust padding to increase height */
  text-align: center;
  height: 60px; /* Adjust height */
  box-sizing: border-box; /* Ensure padding is included in the height */
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-align: center;
}


body {
  font-family: 'Righteous', cursive;
  color: #d14f4f;
  line-height: 1.7;
  font-size: 19px;
  background-color: #222222;
  background-image: url("https://images.pexels.com/photos/713664/pexels-photo-713664.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); /* Adjust URL if needed */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: animateBackground 30s linear infinite alternate;
  background-attachment: fixed;
}

@keyframes animateBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

/* navbar ---------- */

.navbar {
  background-color: rgba(22, 22, 22, 0.8);
  display: flex;
  justify-content: center;
}

.link {
  color: #efefef;
  display: inline-block;
  padding: 3px 20px;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ease all;
}

.link:hover {
  color: #f59494;
  transform: scale(1.1);
}

/* nasa photo ---------- */

.nasa-photo {
  display: flex;
  padding: 40px;
  margin: 0 auto;
  max-height: 100%;
}

.nasa-photo img {
  width: 50%;
  margin-right: 50px;
  object-fit: contain;
  max-height: 80vh;
}

.nasa-photo h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.nasa-photo .date {
  margin-top: 0;
  margin-bottom: 30px;
}

.nasa-photo .explanation {
  color: #bbb;
}

@media (max-width: 1280px) {
  .nasa-photo {
    display: block;
  }

  .nasa-photo img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.home {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.home-link {
  font-size: 40px;
  background: #f59494;
  display: inline-block;
  padding: 40px 80px;
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s ease all;
  text-transform: uppercase;
}

.home-link:hover {
  border-radius: 5px;
  background: #e77171;
}

/* Add this style for the card container */
.card-container {
  max-width: 800px;
  margin: 0 auto;
}

.card {
  background-color: rgba(148, 177, 245, 0.051);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.3s ease all;
  text-transform: uppercase;
  padding: 40px;
  margin-bottom: 20px;
  width: 100%;
}

.card:hover {
  transform: scale(1.05);
  background-color: #8371e715;
}
